<IfModule mod_rewrite.c>
RewriteEngine on
ErrorDocument 404 /
ErrorDocument 403 /

RewriteBase /
RewriteRule ^ index.php [L]
RewriteRule ^([a-zA-Z0-9_-]+)$ image.php?images=$1
RewriteRule ^category/([a-zA-Z0-9_-]+)\/$ category.php?cat=$1
RewriteRule ^image/(.*)/([0-9]+)/?$ atta.php?key=$1&idd=$2

RewriteCond %{HTTP_HOST} ^example.com [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301,NC]

RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^sitemap-image\.xml$ sitemap-image.php [L]
RewriteRule ^sitemap-([0-9]+)\.xml$ sitemap-0.php [L]

RewriteRule ^contact\.aspx$ contact.php [L]
RewriteRule ^privacy-policy\.aspx$ privacy-policy.php [L]
RewriteRule ^disclaimer\.aspx$ disclaimer.php [L]
RewriteRule ^dmca\.aspx$ dmca.php [L]
RewriteRule ^sitemap\.aspx$ sitemapmenu.php [L]

Options All -Indexes
</IfModule>
